@import '@/variables.scss';

.button {
  padding: .9375rem 1.25rem;
  min-width: 2.75rem;
  max-width: 20rem;
  height: 2.75rem;
  position: relative;
  
  display: flex;
  align-items: center;
  justify-content: center;

  background: $gradient-purple;
  color: $white;

  font-family: 'Montserrat';
  font-size: .75rem;
  font-weight: 700;
  text-transform: uppercase;

  border: none;
  border-radius: 2rem;
  box-sizing: border-box;

  transition: $transition;

  &:hover {
    background: $gradient-purple-50;
    cursor: pointer;
  }
}

@import './__icon/button__icon.scss';
@import './__wrapper/button__wrapper.scss';
@import './_type/button_type_outline.scss';
@import './_width/button_width_f.scss';