include ../bemto/bemto
include ./components/button/button

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Пример страницы
  body
    .wrapper
      +button({title: 'Click Me!'})
      +button({title: 'Click Me!', type: 'outline'})
      +button({title: 'Перейти к оплате', type: 'icon'})
      +button({title: '1'})
      +button({type: 'icon'})
