include ../bemto/bemto
include ./components/button/button

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title UI Kit
  body
    h1 This one is the sub-section or widget title
    h2 Next one is the item title inside widgets
    h3 This is a label or CTA text
    p This is the body text which is used for most of the design, like paragraphs, lists, etc.
    h3 Buttons
    +button({title: 'Click Me'})
    +button({title: 'Click Me', type: 'outline'})
    +button({title: 'Click Me', type: 'link'})
    +button({title: 'Перейти к оплате', width: 'full', icon: true})
    +button({type: 'circle', title: '1'})
    +button({type: 'circle', icon: true, color: 'green'})
