include ../bemto/bemto
include ./components/button/button

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title UI Kit
  body
    .wrapper
      +button({title: 'Click Me'})
      +button({title: 'Click Me', type: 'outline'})
      +button({title: 'Click Me', type: 'link'})
      +button({title: 'Перейти к оплате', width: 'full', icon: true})
      +button({title: '1'})
      +button({icon: true})
