include ../bemto/bemto
include ./components/button/button

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Пример страницы
  body
    .wrapper
      h1 Hello World sdjshdj
      +button({title: 'Click Me!'})
